* text=auto

*.php text

.editorconfig export-ingnore
.gitignore export-ingnore
.gitattributes export-ingnore
.github/ export-ingnore
tests/ export-ingnore
phpunit.xml export-ingnore
phpunit.dist.xml export-ingnore
